{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/fan-carousel.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="site">
  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/hero-ascii-rings.js' %}" defer></script>
<script src="{% static 'js/fan-carousel.js' %}" defer></script>
<script src="{% static 'js/carousel.js' %}" defer></script>
{% endblock extra_js %}
